.wholepage-enroll {
    /* Add styles for the entire page */
  }
  
  .stucourse-container {
    margin-top: 10px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
  }

  
  .stucourse-card {
    margin-top: 25px !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    max-width: 350px !important; 
  }
  
  .stucourse-image {

    width: 90%;
    height: auto;
    border-radius: 5px;
  }
  
  .stucourse-details {
    /* Add styles for the course details */
    padding: 10px;
  }
  
  .stucourse-title {
    /* Add styles for the course title */
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .stucourse-description,
  .stucourse-price,
  .stucourse-owner {
    /* Add styles for the course details (description, price, owner) */
    margin-bottom: 5px;
  }
  
  .stuenroll-button {
    /* Add styles for the enroll button */
    background-color: #000ea3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .stuenroll-button:hover {
    /* Add styles for the enroll button on hover */
    background-color: #00215e;
  }
  
  