.wholepage-mycourse {
  /* Add styles for the entire page */
}

.student-stu-my-course {
  /* Add styles for the section containing student course content */
}

.progress-heading {
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.student-course-heading {
  text-align: center;
  font-family: "Poppins", sans-serif !important;
}

.sturow {
  /* Add styles for the row containing course cards */
  display: flex;
  flex-wrap: wrap;
}


.student-course-image {
  /* Add styles for the course image */
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.stucourse-details {
  /* Add styles for the course details */
  padding: 10px;
}

.student-course-name {
  /* Add styles for the course name */
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.student-course-description,
.student-course-price,
.student-course-owner,
.student-course-video-link {
  /* Add styles for the course details (description, price, owner, video link) */
  margin-bottom: 5px;
}

.student-course-video-link a {
  /* Add styles for the video link */
  color: blue;
  text-decoration: none;
}

.student-course-video-link a:hover {
  /* Add styles for the video link on hover */
  text-decoration: underline;
}

/* Media queries for responsiveness */
@media (max-width: 992px) {
  /* Add styles for medium screens (md) */
  .stucourse-card {
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  /* Add styles for small screens (sm) */
  .stucourse-card {
    flex-basis: 100%;
  }
}
.stucourse-image {
  width: 100%;
  height: 200px; /* Set a fixed height for all images */
  object-fit: cover; /* Ensure the image covers the entire container */
  border-radius: 5px;
}

.stuunenroll{
  margin-top: 15px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    background-color: rgb(195, 0, 0);
    border: 1px solid #c50000;
    font-family: "Alice", serif;
    color: white;
    font-size: 15px;
}

.stuunenroll:hover{
  border: 1px solid #c10000;
  color: rgb(255, 255, 255);
  background-color: rgb(130, 0, 0);
}

.student-course-status-container {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.student-course-status{
  font-family: "Alice", serif;
  margin-bottom: 0px;
}
.course-checkboxxx{
  margin-top: 1px;
  margin-left: 10px;
}