.container h2{
  text-align: center;
  margin: 20px;

}

.notify-container{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 20px 20px 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
  animation: slideInFromBottom 1s ease-in-out;
}

@keyframes slideInFromBottom {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}