/* CourseTutor.css */

.ctutor-course-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .ctutor-course-card {
    margin-left: 200px;
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 900px;
  }
  
  .ctutor-course-image {
    width: 300px; /* Adjust width of the image */
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .ctutor-course-details {
    flex-grow: 1; /* Grow to fill remaining space */
  }
  
  .ctutor-course-details h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .ctutor-course-details p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .tutorupdatec {
    margin-left: 15px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    background-color: rgb(0, 0, 0);
    border: 1px solid #000000;
    font-family: "Alice", serif;
    color: white;
    font-size: 15px;
  }

  .tutorupdatec:hover{
    border: 1px solid #000000;
    color: rgb(255, 255, 255);
    background-color: rgb(106, 106, 106);
  }

  .tutordeletec{
    margin-left: 15px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    background-color: rgb(195, 0, 0);
    border: 1px solid #c50000;
    font-family: "Alice", serif;
    color: white;
    font-size: 15px;
  }

  .tutordeletec:hover{
    border: 1px solid #c10000;
    color: rgb(255, 255, 255);
    background-color: rgb(130, 0, 0);
  }

  